<!-- Articles -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg8 text-center">
            <h1>Dernières actualités</h1>
        </div>
    </div>
</div>
<div class="album py-5 bg-light">
    <div class="container d-flex justify-content-center">
        <div class="row">
            {% for blogpost in blogposts %}
                <div class="col">
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <div class="card-body text-dark">
                            <h5 class="card-title">{{ blogpost.titre }}</h5>
                            <p class="card-text">{{ blogpost.contenu|u.truncate(100, '...', false) }}</p>
                            <small class="text-muted">Publiée le {{ blogpost.createdAt|date('d/m/Y') }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>