<!-- Articles -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg8 text-center">
            <h1>Dernières actualités</h1>
        </div>
    </div>
</div>
<div class="album py-5 bg-light">
    <div class="container d-flex justify-content-center">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-body text-dark">
                        <h5 class="card-title">Titre de l'actu</h5>
                        <p class="card-text">Le résumé de l'actu publiée qui s'adresse aux visiteurs.</p>
                        <small class="text-muted">Publié il y a 9 mins</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-body text-dark">
                        <h5 class="card-title">Titre de l'actu</h5>
                        <p class="card-text">Le résumé de l'actu publiée qui s'adresse aux visiteurs.</p>
                        <small class="text-muted">Publié il y a 9 mins</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-body text-dark">
                        <h5 class="card-title">Titre de l'actu</h5>
                        <p class="card-text">Le résumé de l'actu publiée qui s'adresse aux visiteurs.</p>
                        <small class="text-muted">Publié il y a 9 mins</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>