{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <section class="welcome-homepage">
        {% include 'home/welcome.html.twig' %}
    </section>

    <section class="realisations-homepage">
        {% include 'home/realisations.html.twig' %}
    </section>

    <section class="blogpost-homepage">
        {% include 'home/blogpost.html.twig' %}
    </section>

{% endblock %}