<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg8 text-center">

            <hr>

            <div class="welcome-text-homepage">
                <p>Auteur et illustrateur - France</p>
            </div>

            <!-- Image top website -->

            <div>
                <img class="welcome-image w-100" src="{{ asset('img/11.jpg') }}" alt="Oeuvre d'ouverture">
            </div>

            <!-- Button -->

            <a href="#">
                <button class="btn btn-outline-success mb-5 mt-5" type="submit">Découvrir mon portfolio</button>
            </a>

            <hr>
        </div>
    </div>
</div>