<section style="background-image: url('img/bolivie.png');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg8 text-center">

                <!-- Heading -->
                <h1 class="display-2 text-white">
                    Philippe M.
                </h1>

                <!-- Text -->

                <h2 class="lead text-white-50 mb-6">
                    Artiste et auteur à Paris, au coeur de la France
                </h2>

                <!-- Button -->

                <a href="#" class="btn btn-primary lift">
                    Découvrir mon portfolio
                </a>
            </div>
        </div>
    </div>
</section>