<div class="welcome-image" style="background-image: url('img/11.jpg');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg8 text-center">

                <!-- Heading -->
                <h1 class="welcome-h1 display-2">
                    Philippe M.
                </h1>

                <!-- Text -->

                <h2 class="welcome-h2 lead mb-6">
                    Artiste et auteur à Paris, au coeur de la France
                </h2>

                <!-- Button -->

                <a href="#" class="btn btn-primary lift">
                    Découvrir mon portfolio
                </a>
            </div>
        </div>
    </div>
</div>