<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg8 text-center">

                <img class="welcome-image w-100 vh-100" src="{{ asset('img/11.jpg') }}" alt="Oeuvre d'ouverture">

                <!-- Button -->

                <a href="#"><button class="btn btn-outline-success mt-5" type="submit">Découvrir mon portfolio</button> </a>
            </div>
        </div>
    </div>
</div>