{% extends 'layout.html.twig' %}

{% block title %}Réalisations{% endblock %}

{% block body %}
    <div class="index-realisations row justify-content-center">
        <div class="col-12 col-md-10 col-lg8 text-center">

            <hr class="mb-5">

            <h1>Mes six dernières réalisations</h1>
            <h3 class="mb-5 text-muted">
                Le texte de présentation de la section index des réalisations de l'auteur
            </h3>
        </div>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 g-3">
                {% for oeuvre in oeuvres %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="w-100" src="{{ oeuvre.file }}" alt="Oeuvre de l'artiste">

                            <div class="card-body">
                                <h4>{{ oeuvre.nom }}</h4>
                                <p class="card-text">{{ oeuvre.description|u.truncate(120, '...', false) }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">Ajoutée le {{ oeuvre.createdAt|date('d/m/Y') }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
