.welcome-homepage {
  .welcome-image {
    object-fit: cover;
  }

  .welcome-text-homepage {
    font-family: 'Shadows Into Light', cursive;
    margin-top: 1em;
    font-size: 2em;
    margin-bottom: 0.5em;
  }
}